{% extends 'admin/admin-template.html.twig' %}
{% block title %}AMNet Birse{% endblock %}

{% block content %}
    <div class="offset-main">
		<h1 class="page-title">Edition des documents</h1>

        <div class="row" style="padding: 0 40px;">
            <form action="/admin/documents/processDocumentUpdate" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="reglementInterieur">Règlement intérieur:</label>
                    {% if documents.reglement_interieur %}
                        <div class="row">
                            <div class="col-2">
                                    <a href="{{ documents.reglement_interieur.path }}" target="_blank" >Voir le document actuel</a>
                            </div>
                            <div class="col-6">
                                <input type="file" name="reglement_interieur" style="width: 100%;"/>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    {% else %}
                        <input type="file" name="reglement_interieur" style="width: 100%;"/>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="statuts">Statuts:</label>
                    {% if documents.statuts %}
                        <div class="row">
                            <div class="col-2">
                                    <a href="{{ documents.statuts.path }}" target="_blank" >Voir le document actuel</a>
                            </div>
                            <div class="col-6">
                                <input type="file" name="statuts" style="width: 100%;"/>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    {% else %}
                        <input type="file" name="statuts" style="width: 100%;"/>
                    {% endif %}
                </div>

                <input type="submit" value="Mettre à jour" class="btn btn-blue" style="width: 100%;"/>
            </form>
        </div>
    </div>
{% endblock %}