{% extends 'admin/admin-template.html.twig' %}
{% block title %}AMNet Birse{% endblock %}

{% block content %}
    <div class="offset-main">
        <h1 class="page-title">Liste des requêtes d'accès internet</h1>
        <div class="row" style="padding: 0 40px;">
            <div class="col-10">
                <div class="tabbed-nav">
                    <nav>
                        <ul class="nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-pending-tab" data-toggle="tab" href="#nav-pending"><li class="test">En cours</li></a>
                            <a class="nav-item nav-link" id="nav-allowed-tab" data-toggle="tab" href="#nav-allowed"><li>Validés</li></a>
                            <a class="nav-item nav-link" id="nav-suspended-tab" data-toggle="tab" href="#nav-suspended"><li>Suspendus</li></a>
                        </ul>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
                            <br/>
                            <h1>Demandes en cours</h1>
                            <br/>
                            {% set loop_var = pending_requests %}
                            {% include 'admin/modules/admin-internet-table.html.twig' %}
                        </div>
                        <div class="tab-pane fade" id="nav-allowed" role="tabpanel" aria-labelledby="nav-allowed-tab">
                            <br/>
                            <h1>Accès accordés</h1>
                            <br/>
                            {% set loop_var = active_requests %}
                            {% include 'admin/modules/admin-internet-table.html.twig' %}
                            </div>
                        <div class="tab-pane fade" id="nav-suspended" role="tabpanel" aria-labelledby="nav-suspended-tab">
                            <br/>
                            <h1>Accès suspendus</h1>
                            <br/>
                            {% set loop_var = suspended_requests %}
                            {% include 'admin/modules/admin-internet-table.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="search-field" style="padding: 0 10px; position: fixed;">
                    <!--
                        <h2>Champ de recherche</h2>
                        <h3>TODO</h3>
                    -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/js/tabbed-nav.js"></script>
{% endblock %}