MYSQL_HOSTNAME  =   <mysql_database_host>
MYSQL_DATABASE  =   <mysql_database_name>
MYSQL_USER      =   <mysql_database_user>
MYSQL_PASSWORD  =   <mysql_database_password>
RADIUS_SQL_HOSTNAME= <radius_database_host>
RADIUS_SQL_DATABASE = <radius_database_name>
RADIUS_SQL_USER = <radius_database_user>
RADIUS_SQL_PASSWORD = <radius_database_password>
EMAIL_SERVICE = <mail_address_service>
EMAIL_USER = <mail_user>
EMAIL_PASSWORD = <mail_password>
SALT_ROUND = <salt_round_bcrypt>