<html>
    {% include '/utils/headers.html.twig' %}

    <body>
        {% include '/utils/menu.html.twig' %}

        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col"></div>
                <div class="h-100 col-10 main-content-bg padding-top">
                        <br/>
                        <div class="container">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-pending-tab" data-toggle="tab" href="#nav-pending" role="tab" aria-controls="nav-home" aria-selected="true">En cours</a>
                                    <a class="nav-item nav-link" id="nav-allowed-tab" data-toggle="tab" href="#nav-allowed" role="tab" aria-controls="nav-profile" aria-selected="false">Validés</a>
                                    <a class="nav-item nav-link" id="nav-suspended-tab" data-toggle="tab" href="#nav-suspended" role="tab" aria-controls="nav-profile" aria-selected="false">Suspendus</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
                                    <br/>
                                    <h4>Demandes en cours</h4>
                                    <br/>
                                    <br/>
                                    {% include 'internet/modules/admin-pending.html.twig' %}
                                </div>
                                <div class="tab-pane fade" id="nav-allowed" role="tabpanel" aria-labelledby="nav-allowed-tab">
                                        <br/>
                                        <h4>Accès accordés</h4>
                                        <br/><br/>
                                        {% include 'internet/modules/admin-active.html.twig' %}
                                    </div>
                                <div class="tab-pane fade" id="nav-suspended" role="tabpanel" aria-labelledby="nav-suspended-tab">
                                    <br/>
                                    <h4>Accès suspendus</h4>
                                    <br/><br/>
                                    {% include 'internet/modules/admin-suspended.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>

        {% include '/utils/js_imports.html.twig' %}
        <script type="text/javascript" src="/js/pagination.js"></script>
    </body>
</html>