<html>
    {% include '/utils/headers.html.twig' %}

    <body>
        {% include '/utils/menu.html.twig' %}

        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col"></div>
                <div class="h-100 col-10 main-content-bg padding-top">
                        <br/>
                        <div class="container">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-pending-tab" data-toggle="tab" href="#nav-pending" role="tab" aria-controls="nav-home" aria-selected="true">En cours</a>
                                    <a class="nav-item nav-link" id="nav-allowed-tab" data-toggle="tab" href="#nav-allowed" role="tab" aria-controls="nav-profile" aria-selected="false">Validés</a>
                                    <a class="nav-item nav-link" id="nav-suspended-tab" data-toggle="tab" href="#nav-suspended" role="tab" aria-controls="nav-profile" aria-selected="false">Suspendus</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
                                    <br/>
                                    <h4>Demandes en cours</h4>
                                    <br/>
                                    <br/>
                                    {% include 'internet/modules/admin-pending.html.twig' %}
                                </div>
                                <div class="tab-pane fade" id="nav-allowed" role="tabpanel" aria-labelledby="nav-allowed-tab">
                                        <br/>
                                        <h4>Accès accordés</h4>
                                        <br/><br/>
                                        {% include 'internet/modules/admin-active.html.twig' %}
                                    </div>
                                <div class="tab-pane fade" id="nav-suspended" role="tabpanel" aria-labelledby="nav-suspended-tab">
                                    <br/>
                                    <h4>Accès suspendus</h4>
                                    <br/><br/>
                                    {% include 'internet/modules/admin-suspended.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>

        {% include '/utils/js_imports.html.twig' %}
        <script type="text/javascript">
            $(document).ready(() => {
                let pending_page = 1;
                let active_page = 1;
                let suspended_page = 1;
                let url = window.location.href;
                if(url.includes("?")){
                    let param_str = url.split('?')[1];
                    let params = {}
                    param_str.split("&").forEach((param_binome) => {
                        params[param_binome.split("=")[0]] = param_binome.split("=")[1];
                    });
                    switch(params['cat'])
                    {
                        case "pending":
                            pending_page = params['page'];
                            break;

                        case "active":
                            active_page = params['page'];
                            break;

                        case "suspended":
                            suspended_page = params['page'];
                            break;
                    }
                }

                $('#pending #'+pending_page.toString()).addClass("active");
                $('.pending-page[page="'+(pending_page-1).toString()+'"]').css('visibility', 'visible');
                $('#active #'+active_page.toString()).addClass("active");
                $('.active-page[page="'+(active_page-1).toString()+'"]').css('visibility', 'visible');
                $('#suspended #'+suspended_page.toString()).addClass("active");
                $('.suspended-page[page="'+(suspended_page-1).toString()+'"]').css('visibility', 'visible');

                $('.pagination-link').click((e) => {
                    let itemId = e.target.id;
                    let page_cat = itemId.split('?')[0];
                    let page_nb = itemId.split('?')[1];
                    switch(page_cat){
                        case "pending":
                            pending_page = page_nb.toString();
                            break;
                        
                        case "active":
                            active_page = page_nb.toString();
                            break;
                        
                        case "suspended":
                            suspended_page = page_nb.toString();
                            break;
                    }
                    
                    $('#pending li').removeClass("active");
                    $('#pending #'+pending_page.toString()).addClass("active");
                    $('.pending-page').css('visibility', 'collapse');
                    $('.pending-page[page="'+(pending_page-1).toString()+'"]').css('visibility', 'visible');

                    $('#active li').removeClass("active");
                    $('#active #'+active_page.toString()).addClass("active");
                    $('.active-page').css('visibility', 'collapse');
                    $('.active-page[page="'+(active_page-1).toString()+'"]').css('visibility', 'visible');

                    $('#suspended li').removeClass("active");
                    $('#suspended #'+suspended_page.toString()).addClass("active");
                    $('.suspended-page').css('visibility', 'collapse');
                    $('.suspended-page[page="'+(suspended_page-1).toString()+'"]').css('visibility', 'visible');

                });
            });
        </script>
    </body>
</html>