<html>
    {% include '/utils/headers.html.twig' %}

    <body>
        {% include '/utils/menu.html.twig' %}

        <div class="container-fluid">
            <div class="row">
                <div class="col"></div>
                <div class="col-10 main-content-bg">
                    <div class="container">
                        
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>

        {% include '/utils/js_imports.html.twig' %}
    </body>
</html>