{% extends 'utils/template.html.twig' %}
{% block title %}AMNet Birse{% endblock %}

{% block content %}
	<div class="offset-main">
		<h1 class="page-title">Mon espace AMNet</h1>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<center><h2>Besoin d'assistance ? Contactez <a href="mailto:contact@amnet.fr">contact@amnet.fr</a> !</h2></center>
				</div>
			</div>
		</div>

		<br/><br/>

		<div class="row">
			<div class="col-6">
				<div class="card">
					<h3 class="card-title">Accès internet</h3>
					<hr>
					<p>Administrez vos demandes d'accès internet pour vos équipements</p>
					<div class="spacer vertical-100">&nbsp;</div>

					<div class="card-bottom">
						<a href="/internet/" class="btn btn-blue" style="display: block; width: 100%;">Accéder</a>
					</div>
				</div>
			</div>

			<div class="col-6">
				<div class="card">
					<h3 class="card-title">Matériel</h3>
					<hr>
					<p>Gérez vos demandes de matériel pour un C-Vis, une soirée ou évènement</p>
					<div class="spacer vertical-100">&nbsp;</div>

					<div class="card-bottom">
						<a href="/material/" class="btn btn-blue" style="display: block; width: 100%;">Accéder</a>
					</div>
				</div>
			</div>
		</div>

		<br/><br/>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<h3 class="card-title">Actualité AMNet</h3>
					<hr>
					<p>{{ setting.news_message }}</p>
				</div>
			</div>
		</div>

		<br/><br/>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<h3 class="card-title">Votre statut AMNet</h3>
					<hr>
					<p>
						Votre rôle: {% if data.user_rank != 'admin' %}PG{% else %}Administrateur{% endif %}<br/><br/>
						Cotisation: {% if cotiz_paid == 1 %}<span class="badge badge-green">Payée</span>{% else %}<a href="/user/profile/" class="badge badge-red">Non-payée</a>{% endif %}<br/>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
