* {
  font-family: segoe UI;
}

a {
  text-decoration: none;
  color: #707070;
}

html, body {
  min-height: 100%;
  margin: 0 0;
  padding: 0 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0 0;
  margin: 0 0;
  font-weight: normal;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

.container {
  background-color: #fff;
  margin: 0 0;
  padding: 0 0;
  width: auto;
  padding: 10px;
}

.centered {
  text-align: center;
}

.centered-row {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#login-container {
  background-color: rgba(255, 255, 255, 0.7);
  border: 10px solid #096a09;
  border-radius: 20px;
}
#login-container .heading {
  font-weight: bold;
}

form {
  width: 100%;
}
form .form-group {
  width: 100%;
  margin: 20px 0;
}
form .form-group label {
  font-size: 25px;
}
form .form-group input {
  width: 100%;
  height: 30px;
}
form .form-group input[type=text], form .form-group input[type=password] {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(33, 33, 33, 0.6);
}
form .form-group input[type=text]:focus, form .form-group input[type=password]:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 10px #3498db;
}

.tabbed-nav .nav-tabs {
  margin: 0 0;
  padding: 0 0;
  height: 40px;
  list-style: none;
  border-bottom: 1px solid rgba(33, 33, 33, 0.3);
}
.tabbed-nav .nav-tabs li {
  float: left;
  padding: 5px 25px;
  height: 30px;
  height: 30px;
  background-color: #fff;
}
.tabbed-nav .nav-tabs .active li {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 1px solid rgba(33, 33, 33, 0.3);
  border-left: 1px solid rgba(33, 33, 33, 0.3);
  border-right: 1px solid rgba(33, 33, 33, 0.3);
  border-bottom: none;
  background-color: #eee;
}
.tabbed-nav .tab-content {
  position: relative;
}
.tabbed-nav .tab-content .tab-pane {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tabbed-nav .tab-content .active {
  display: block;
}

.badge {
  border-radius: 2px;
  padding: 5px;
  color: #fff;
}

.badge-red {
  background-color: #e74c3c;
}

.badge-green {
  background-color: #2ecc71;
}

.badge-orange {
  background-color: #f39c12;
}

.btn {
  height: 35px;
  text-decoration: none;
  text-align: center;
  padding: 5px 5px;
}
.btn:hover {
  cursor: pointer;
}

.btn-birse {
  background-color: #1B5C17;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  transition: background-color 0.2s;
}
.btn-birse i {
  color: #fff;
}
.btn-birse:hover {
  background-color: #164813;
  transition: background-color 0.2s;
}

.btn-blue {
  background-color: #3498db;
  border: 2px solid #2980b9;
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  transition: background-color 0.2s;
}
.btn-blue:hover {
  background-color: #2980b9;
  transition: background-color 0.2s;
}

.btn-red {
  background-color: #e74c3c;
  border: 2px solid #c0392b;
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  transition: background-color 0.2s;
}
.btn-red:hover {
  background-color: #c0392b;
  transition: background-color 0.2s;
}

.btn-green {
  background-color: #2ecc71;
  border: 2px solid #27ae60;
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  transition: background-color 0.2s;
}
.btn-green:hover {
  background-color: #27ae60;
  transition: background-color 0.2s;
}

.btn-dark {
  background-color: #34495e;
  border: 2px solid #2c3e50;
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  transition: background-color 0.2s;
}
.btn-dark:hover {
  background-color: #2c3e50;
  transition: background-color 0.2s;
}

.btn-sm {
  font-size: 15px;
}

footer {
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: #fff;
}
footer p {
  margin: 0 0;
  padding: 0 0;
  display: inline;
  line-height: 30px;
}
footer .right-footer {
  position: absolute;
  padding-right: 20px;
  right: 0;
}

.slide-nav {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  background-color: #096a09;
  display: none;
  overflow: hidden;
  white-space: nowrap;
}
.slide-nav a {
  padding: 15px 20px;
}
.slide-nav .branding {
  color: #fff;
  font-weight: 650;
  padding: 10px 20px;
}
.slide-nav .nav-links {
  list-style: none;
  font-size: 30px;
  margin: 0 0;
  padding: 0 0;
  font-weight: 500;
}
.slide-nav .nav-links li {
  transition: background-color 0.2s, color 0.2s;
}
.slide-nav .nav-links li:hover {
  background-color: #164813;
  transition: background-color 0.2s, color 0.2s;
}
.slide-nav .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.slide-nav .nav-links li a i {
  color: #fff;
  font-size: 50px;
  margin-right: 20px;
  transition: color 0.2s;
}
.slide-nav .bottom {
  position: absolute;
  bottom: 0;
  font-size: 30px;
  width: 100%;
}
.slide-nav .bottom a {
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  vertical-align: middle;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
}
.slide-nav .bottom a:hover, .slide-nav .bottom a:hover i {
  background-color: #164813;
  transition: background-color 0.2s, color 0.2s;
}
.slide-nav .bottom a i {
  font-size: 50px;
  color: #fff;
  margin-right: 20px;
  transition: color 0.2s;
}

.left-nav {
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80px;
  background-color: #096a09;
}
.left-nav .nav-links {
  margin-top: 80px !important;
  list-style: none;
  font-size: 30px;
  margin: 0 0;
  padding: 0 0;
  font-weight: 500;
}
.left-nav .nav-links li {
  transition: background-color 0.2s, color 0.2s;
  padding: 10px 10px;
}
.left-nav .nav-links li:hover {
  background-color: #164813;
  transition: background-color 0.2s, color 0.2s;
}
.left-nav .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.left-nav .nav-links li a i {
  color: #fff;
  font-size: 50px;
  margin-right: 20px;
  transition: color 0.2s;
}
.left-nav i {
  font-size: 50px;
  margin: 10px 0;
  color: #fff;
}
.left-nav .branding {
  width: 100%;
  position: absolute;
  top: 0;
}
.left-nav .bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.card {
  margin: 20px 40px;
  border: 1px solid #707070;
  padding: 10px;
  position: relative;
  height: 100%;
}
.card hr {
  border: 1px solid rgba(112, 112, 112, 0.4);
}
.card .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}
.card .card-bottom .btn {
  width: auto !important;
}

main .page-title {
  padding: 20px 40px;
  font-weight: 600;
}

.offset-main {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 80px;
  right: 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table thead {
  text-align: left;
}
.table thead tr {
  background-color: #096a09;
}
.table thead tr th {
  border: 1px solid white;
  padding: 0 5px;
  color: white;
}
.table tr {
  height: 40px;
  transition: background-color 0.2s;
}
.table tr:nth-child(even) {
  background-color: #eeeeee;
}
.table tbody tr:hover {
  background-color: #c2c2c2;
  cursor: pointer;
  transition: background-color 0.2s;
}
.table tr td {
  border-bottom: 1px solid #333;
  padding: 5px;
}

.spacer {
  display: block;
}

.vertical-200 {
  min-height: 200px;
}

.vertical-100 {
  min-height: 100px;
}

.vertical-50 {
  min-height: 50px;
}

.row {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.row .col, .row .col-1, .row .col-2, .row .col-3, .row .col-4, .row .col-5, .row .col-6, .row .col-7, .row .col-8, .row .col-9, .row .col-10, .row .col-11, .row .col-12 {
  width: 100%;
  position: relative;
}
.row .col {
  flex-basis: 0;
  flex-growth: 1;
  max-width: 100%;
}
.row .col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}
.row .col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.row .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.row .col-4 {
  flex: 0 0 33.3333333333%;
}
.row .col-5 {
  flex: 0 0 41.6666666667%;
}
.row .col-6 {
  flex: 0 0 50%;
}
.row .col-7 {
  flex: 0 0 58.3333333333%;
}
.row .col-8 {
  flex: 0 0 66.6666666667%;
}
.row .col-9 {
  flex: 0 0 75%;
}
.row .col-10 {
  flex: 0 0 83.3333333333%;
}
.row .col-11 {
  flex: 0 0 91.6666666667%;
}
.row .col-12 {
  flex: 0 0 100%;
}

/*# sourceMappingURL=style_v2.css.map */
