*
    font-family: segoe UI
    color: #707070
    
html, body
    min-height: 100%
    margin: 0 0
    padding: 0 0

h1, h2, h3, h4, h5, h6
    padding: 0 0
    margin: 0 0
    font-weight: normal

h1
    font-size: 40px

h2
    font-size: 35px

.container
    background-color: #fff
    margin: 0 0
    padding: 0 0
    width: auto
    padding: 10px

.centered
    text-align: center

.centered-row
    position: absolute
    width: 100%
    top: 50%
    left: 50%
    -ms-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)

#login-container
    background-color: rgba(255, 255, 255, 0.7)
    border: 10px solid #096A09
    border-radius: 20px

    .heading
        font-weight: bold

form
    width: 100%
    
    .form-group
        width: 100%
        margin: 20px 0

        label
            font-size: 25px

        input
            width: 100%
            height: 30px
        
        input[type="text"], input[type="password"]
            background-color: #fff
            border-radius: 5px
            border: 1px solid rgba(33, 33, 33, 0.6)

            &:focus
                outline: none
                border-color: #3498db
                box-shadow: 0 0 10px #3498db

.btn
    border-radius: 2px
    height: 50px !important

    &:hover
        cursor: pointer


.btn-birse
    background-color: #1B5C17
    border: none
    color: #fff
    font-weight: 500
    font-size: 25px
    transition: background-color 0.2s

    &:hover
        background-color: #164813
        transition: background-color 0.2s

footer
    position: absolute
    left: 0
    bottom: 0
    height: 30px
    width: 100%
    background-color: #fff

    p
        margin: 0 0
        padding: 0 0
        display: inline
        line-height: 30px
    
    .right-footer
        position: absolute
        padding-right: 20px
        right: 0

.spacer
    display: block
.vertical-100
    min-height: 200px

.row
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-auto-rows: auto
    
    .col-2
        grid-column-end: span 6
        grid-row: 1
    
    .col-3
        grid-column-end: span 4
        grid-row: 1

    .col-4
        grid-column-end: span 3
        grid-row: 1
    
    .col-6
        grid-column-end: span 2
        grid-row: 1
    
    .col-12
        grid-column-end: span 1
        grid-row: 1