{% extends 'utils/template.html.twig' %}
{% block title %}AMNet Birse{% endblock %}

{% block content %}
	<div class="offset-main">
		<h1 class="page-title">Oup'ss... Erreur 404</h1>
		<div class="row" style="padding: 0 40px">
			<div class="col-12">
                <p>Il semble que même le pouvoir de la 58 ne suffise pas à trouver la page que vous recherchez...</p>
				<p>La dernière solution serait sans doute d'invoquer le gorg'ss, la rochefouc'ss est contacté automatiquement par le channel 58 lors de ce genre d'erreur.</p>
			</div>
		</div>
	</div>
{% endblock %}
