<html>
    {% include '/utils/headers.html.twig' %}

    <body>
        {% include '/utils/menu.html.twig' %}

        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col"></div>
                <div class="h-100 col-10 main-content-bg">
                    <div class="container">
                        <br/><br/>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-10 card">
                                <h1>Créez votre compte AMNet</h1>
                                <br/>
                                <form class="card-body" method="POST" action="/access/process_signin/">
                                    <div class="form-group">
                                        <label>Nom d'utilisateur</label>
                                        <input type="text" class="form-control" required="required"  name="username" placeholder="Exemple: Duc de la Rochefoucauld"/>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <label>Prénom</label>
                                                <input type="text" class="form-control" required="required"  name="firstname" placeholder="Prénom"/>
                                            </div>
                                            <div class="col">
                                                <label>Nom</label>
                                                <input type="text" class="form-control" required="required"  name="lastname" placeholder="Nom"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Adresse email</label>
                                        <input type="email" class="form-control" required="required"  name="email" placeholder="Adresse Email"/>
                                    </div>

                                    <div class="form-group">
                                        <label>Bucque</label>
                                        <input type="text" class="form-control" name="bucque" placeholder="Exemple: Hard Win'ss"/>
                                    </div>

                                    <div class="form-group">
                                        <label>Fam'ss</label>
                                        <input type="text" class="form-control" name="fams" placeholder="Exemple: 58"/>
                                    </div>

                                    <div class="form-group">
                                        <label>Prom'ss</label>
                                        <input type="text" class="form-control" name="proms" placeholder="Exemple: 218"/>
                                    </div>
            
                                    <div class="form-group">
                                        <label>Mot de passe</label>
                                        <input type="password" class="form-control" required="required"  name="password" />
                                    </div>

                                    <div class="form-group">
                                        <label>Confirmez votre mot de passe</label>
                                        <input type="password" class="form-control" required="required"  name="password_confirmation" />
                                    </div>

                                    <br/>
                                    <div class="form-group">
                                        <input type="submit" value="Inscription" class="container-fluid btn btn-primary" />
                                    </div>
                                </form>

                                {% if signin_failed %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <h4 class="alert-heading">Ooooop'ss</h4>
                                        <hr/>
                                        <p>Demande d'inscription non aboutie</p>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>

        {% include '/utils/js_imports.html.twig' %}
    </body>
</html>