{% extends 'utils/template.html.twig' %}
{% block title %}AMNet Birse{% endblock %}

{% block content %}
    <div class="offset-main">
        <h1 class="page-title">Vos demandes de matériel</h1>
        <div class="row" style="padding: 0 40px;">
            <div class="col-10">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Description</th>
                            <th>Etat</th>
                        </tr>
                    </thead>
                    {% for request in requests_list %}
                        <tr id="{{ loop.index }}">
                            <td>#{{ loop.index }}</td>
                            <td>{{ request.material_description }}</td>
                            <td>
                                {% if request.material_state == "pending" %}
                                    <span class="badge badge-orange">En cours</span>
                                {% elseif request.material_state == "declined" %}
                                    <span class="badge badge-red">Refusée</span>
                                {% else %}
                                    <span class="badge badge-green">Accordée</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="col-2 search-field">
                <button data-toggle="new-request-modal-form" style="width: 100%;" class="btn btn-blue btn-sm"><i class="fa fa-plus"></i>&nbsp;&nbsp;Nouvelle demande</button>  
            </div>
        </div>
    </div>

    <div class="modal" id="new-request-modal-form">
        <div class="modal-content">
            <h2>Formuler une demande de matériel</h2>
            <form method="POST" action="/material/add-request/">
                <input type="hidden" name="user_id" value="{{ data.user_id }}" />

                <div class="form-group">
                    <label>Description de la demande: </label>
                    <input type="text" class="form-control" name="description" required="required" placeholder="Par exemple: 1 ordinateur pour un CVis"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Envoyer la demande" class="btn btn-blue btn-sm" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('button').click(function(e){
                if($(this).attr('data-toggle') != ""){
                    e.preventDefault();
                    $('#'+$(this).attr('data-toggle')).fadeIn();
                }
            });

            $('.modal').click(function(e){
                e.preventDefault();
                $(this).fadeOut();
            });

            $('.modal .modal-content').click(function(e){
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}
