<html>
    {% include '/utils/headers.html.twig' %}

    <body>
        {% include '/utils/menu.html.twig' %}

        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col"></div>
                <div class="h-100 col-10 main-content-bg padding-top">
                    <div class="container">
                        <br/><br/>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-10 card">
                                <h4>Formuler une demande de matériel</h4>
                                <p>Vous devez avoir payé votre cotisation afin d'être en mesure de demander du matériel à l'AMNet</p>
                                <br/>
                                <form class="card-body" method="POST" action="/material/add-request/">
                                    <input type="hidden" name="user_id" value="{{ data.user_id }}" />
            
                                    <div class="form-group">
                                        <label>Description de la demande: </label>
                                        <input type="text" class="form-control" name="description" required="required" placeholder="Par exemple: 1 ordinateur pour un CVis"/>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <input type="submit" value="Envoyer la demande" class="container-fluid btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                            <div class="col"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>

        {% include '/utils/js_imports.html.twig' %}
    </body>
</html>