{% extends 'utils/template.html.twig' %}
{% block title %}Nouveau mot de passe &bull; AMNet Birse{% endblock %}
{% block optional_style %}
    <style>
        body 
        {
            background-image: url('/img/cable_management.png');
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="row" style="padding: 30px 0;">
        <div class="col-3"></div>
        <div class="col-6 container" id="login-container">
            <a href="/"><h1 class="heading centered">Espace AMNet - Birse</h1></a>
            <br/>
            <h2 class="centered">Saisissez le nouveau mot de passe</h2>
            <br/>
            <form class="card-body" method="POST" action="/users/update_password/">
                <div class="form-group">
                    <label>Nouveau mot de passe</label>
                    <input type="password" class="form-control" name="password" />
                </div>

                <div class="form-group">
                    <label>Confirmez le nouveau mot de passe</label>
                    <input type="password" class="form-control" name="conf_password" />
                </div>

                <input type="hidden" name="token" value="{{ token }}" />
                <br/>
                <div class="form-group">
                    <input type="submit" value="Mettre à jour le mot de passe" class="btn btn-blue" />
                </div>
            </form>

            {% if update_failed and fail_reason == "failed" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading">Ooooop'ss</h4>
                    <hr/>
                    <p>Les mots de passe ne semblent pas correspondre</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            {% if update_failed and fail_reason == "invalid_password" %}
                <div class="modal" style="display: block;" >
                    <div class="modal-content">
                        <h1>Mot de passe invalide</h1>
                        <ul>
                            <li>Votre mot de passe ne doit pas contenir de caractères accentués (é, è, à, ô, ï, etc...) ou de caractères type "ç"</li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col"></div>
    </div>
{% endblock %}