{% extends 'utils/template.html.twig' %}
{% block title %}Connexion &bull; AMNet Birse{% endblock %}
{% block optional_style %}
    <style>
        body 
        {
            background-image: url('/img/cable_management.png');
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="row centered-row">
        <div class="col-4"></div>
        <div class="col-4 container" id="login-container">
            <a href="/"><h1 class="heading centered">Espace AMNet - Birse</h1></a>
            <br/>
            <h2 class="centered">Connexion</h2>
            <br/>
            <form method="POST" action="/users/process_login/">
                <div class="form-group">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" name="username" />
                </div>
                <br/>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" />
                </div>
                <a href="/users/lost_password/" target="_blank">Mot de passe / Identifiant oublié</a><br/><br/>
                <a href="/users/signin/" target="_blank">Pas encore inscrit ? Inscrivez-vous en cliquant ici</a>
                <br/>
                <div class="form-group">
                    <input type="submit" class="btn btn-birse" style="height: 50px;" value="Connexion" />
                </div>
            </form>
            <div class="spacer vertical-200">&nbsp;</div>
        </div>
        <div class="col-4"></div>
    </div>
{% endblock %}