{% extends 'utils/template.html.twig' %}
{% block title %}Mot de passe oublié &bull; AMNet Birse{% endblock %}
{% block optional_style %}
    <style>
        body 
        {
            background-image: url('/img/cable_management.png');
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="row" style="padding: 30px 0;">
        <div class="col-3"></div>
        <div class="col-6 container" id="login-container">
            <a href="/"><h1 class="heading centered">Espace AMNet - Birse</h1></a>
            <br/>
            <h2 class="centered">Mot de passe oublié</h2>
            <br/>
            <form class="card-body" method="POST" action="/users/process_lost_password/">
                <div class="form-group">
                    <label>Adresse e-mail associée au compte</label>
                    <input type="email" class="form-control" name="email" />
                </div>
                
                <br/>
                <div class="form-group">
                    <input type="submit" value="Envoyer un mail de récupération" class="btn btn-blue" />
                </div>
            </form>

            {% if login_failed %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading">Ooooop'ss</h4>
                    <hr/>
                    <p>Demande de connexion non aboutie</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>

    {% if errors and errors == "no_corresponding_account" %}
		<div class="modal" style="display: block;" >
			<div class="modal-content">
				<h1>Aucun compte n'est assigné à cette adresse mail</h1>
				<ul>
                    <li>Vérifiez que vous avez rentré correctement l'adresse mail</li>
                    <li>Si le problème persiste, contactez <a href="mailto:contact@amnet.fr">contact@amnet.fr</a></li>
                </ul>
			</div>
		</div>
	{% endif %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/handle-modal.js"></script>
{% endblock %}
                                        