<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/style_v2.css" />
        <link rel="stylesheet" href="/css/all.css"/>
        <meta charset="utf-8" />
	<link rel="icon" href="/img/ico.ico">
	{% block optional_style %}{% endblock %}
    </head>

    <body>
        <header>
            {% block header %}
                <nav class="slide-nav">
                    <a href="/"><h1 class="branding">AMNet - Birse</h1></a>

                    <ul class="nav-links">
                        <li>
                            <a href="/">
                                <i class="fas fa-home"></i>
                                Accueil
                            </a>
                        </li>
                        <li>
                            <a href="/users/profile/">
                                <i class="fas fa-user"></i>
                                Profil
                            </a>
                        </li>
                        <li>
                            <a href="/material/">
                                <i class="fas fa-desktop"></i>
                                Matériel
                            </a>
                        </li>
                        <li>
                            <a href="http://gadzflix.fr" target="_blank">
                                <img src="/img/gadzflix-compressed.png" style="max-width: 80px; height: 80px; margin-right: 20px;" />
                                Gadzflix
                            </a>
                        </li>
                        {% if data.user_rank == 'admin' %}
                            <li>
                                <a href="/admin/">
                                    <i class="fas fa-tools"></i>
                                    Administration
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    <div class="bottom">
                        <a href="/users/disconnect/">
                            <i class="fas fa-sign-out-alt"></i>
                            Déconnexion
                        </a>
                    </div>
                </nav>
                <nav class="left-nav">
                    <div class="branding">
                        <a href="#toggle-slide">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                    
                    <ul class="nav-links">
                        <li>
                            <a href="/">
                                <i class="fas fa-home" style="margin: 0 auto;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/users/profile/">
                                <i class="fas fa-user" style="margin: 0 auto;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/material/">
                                <i class="fas fa-desktop" style="margin: 0 auto;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://gadzflix.fr"target="_blank">
                                <img src="/img/gadzflix.svg" style="margin: 0 auto; max-width: 80px; height: 80px;" />
                            </a>
                        </li>

                        {% if data.user_rank == 'admin' %}
                            <li>
                                <a href="/admin/">
                                    <i class="fas fa-tools"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    <div class="bottom">
                        <a href="/users/disconnect/">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </div>
                </nav>
            {% endblock %}
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            {% block footer %}
                <div class="right-footer">
                    <p>Projet développé et maintenu par Hard Win'ss 58li218 - Version 1.2.1 - <a href="https://github.com/Gunlek/AMNet-interface" target="_blank"><i class="fab fa-github"></i></a></p>
                </div>
            {% endblock %}
        </footer>
    </body>

    {% block current_scripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(() => {
                let toggle_slide = false;
                $('a[href="#toggle-slide"]').click((e) => {
                    e.stopPropagation();
                    if(!toggle_slide){
                        e.preventDefault();
                        $('.slide-nav').animate({
                            width: "toggle"
                        });
                        toggle_slide = true;
                    }
                });

                $('nav').click((e) => {
                    e.stopPropagation();
                });

                $('html').click(() => {
                    if(toggle_slide){
                        $('.slide-nav').animate({
                            width: "toggle"
                        });
                        toggle_slide = false;
                    }
                });
            });
        </script>
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</html>
